<div class='container banner'>
  <h1>Cocktails</h1>
  <p>&Beverages</p>
</div>
<div class='container my-5'>
  <div class="row">
    <div class="col-md-3 col-md-offset-3"><%= link_to 'Cocktail List', cocktails_path, class: 'btn btn-outline-dark' %></div>
    <div class="col-md-3 col-md-offset-3"><%= link_to 'Create Recipe', new_cocktail_path, class: 'btn btn-outline-dark' %></div>
  </div>
</div>

<% if @cocktails.any? %>
  <div class="list-container">
    <div class='container mt-5'>
      <h2 class='mb-5 mx-3'>Cocktail List</h2>
      <ul class="list-group list-group-flush w-50">
        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail), class: 'text-dark' %>

            <%# como limpar isto %>
            <% if cocktail.virgin %>
              <small><span class="badge badge-pill badge-info mx-3">Virgin</span></small>
            <% end %>
            <% if cocktail.vegan %>
              <small><span class="badge badge-pill badge-info mx-3">Vegan</span></small>
            <% end %>


          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="list-container">
      <div class='container mt-5'>
        <h3>Oh no!</h3>
        <h6 class="empty-state">
          There are no cocktails on the list.
          <strong><%= link_to 'Add one now!', new_cocktail_path %></strong>!
        </h6>
    </div>
  </div>
<% end %>

<%# 
  JS
 -como pesquisar scroll down da pagina
 -que route usar? é preciso mudar o que?

 SIMPLE FORM
 -simple_form limite 5/6?
 -mudar cor do select?

%>
