<div class='container-sm pt-5 my-5 w-50'>
  <h3>Create a Cocktail</h3>
  <%= simple_form_for @cocktail, html: { autocomplete: 'off' } do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-outline-dark' %><%= link_to 'Go Back', cocktails_path, class: 'btn btn-outline-dark mx-5' %>
  <% end %>
</div>

